<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
	<title>Admin Cancel</title>
</head>

<body>
	<h1>Cancel All Trains</h1>
	<form action="/allCancelled" method = "post">
        <input type="submit" value="Cancel All Trains">
    </form>
    <hr>
    <a href="/">Return to Home</a>
    <a href="/viewTrains">Find Trains</a>
    <script>
        window.onsubmit = () => {return window.confirm("Are you sure you want to cancel all trains?");};
    </script>
</body>

</html>