<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0">
	<title>View Trains</title>
</head>

<body>
	<h1>Admin Trains</h1>
	<div>
        <%- table %>
    </div>
</body>

</html>