<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lookup Passenger</title>
  </head>

  <body>
    <h1>Lookup Passenger</h1>
    <form
      method="POST"
      action="/passengerInfo"
    >
      <fieldset>
        <div>
          <label for="email">Enter Passenger Email For Lookup:</label>
          <input type="text" id="email" name="email" required />
      </fieldset>
      <br />
      <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
      </div>
    </form>

    <hr />
    <a href="/">Return to Home</a>
    <a href="/viewTrains">Find Trains</a>
  </body>

</html>
