<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Lookup Passenger</title>
  </head>

  <body>
    <h1>Lookup Passenger</h1>
    <form
      method="POST"
      action="/passengerInfo"
    >
      <fieldset>
        <div>
          <label for="firstName">Enter Passenger Email For Lookup:</label>
          <input type="text" id="email" name="email" required />
      </fieldset>
      <br />
      <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
      </div>
    </form>

    <hr />
    <a href="/">Return to Home</a>
    <a href="/viewTrains">Find Trains</a>
  </body>

</html>
