<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0">
	<title>Cancelled</title>
</head>

<body>
	<h1>Train Cancellation</h1>
    <div>
       Cancellation for Train #<%- trainNum %> <br>
       <%- numDeleted %>
       <hr>
       <a href="/">Return to Home</a>
       <a href="/viewTrains">Find Trains</a>
    </div><br><br>
</body>

</html>