<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>TrainTrack</title>
  </head>

  <body>
    <h1>Welcome to TrainTrack</h1>
    <h2>Passenger</h2>
    <ul>
      <li>To book select <a href="/book">Book</a></li>
      <li>
        To review a reservation select
        <a href="/reviewReservation">Review Reservation</a>
      </li>
      <li>To view trains select <a href="/viewTrains">View Trains</a></li>
    </ul>
    <hr />
    <h2>Conductor</h2>
    <ul>
      <li>To get train info <a href="/adminTrain">Train Info</a></li>
      <li>
        To get individual train info
        <a href="/adminSingleTrain">Single Train Info</a>
      </li>
      <li>
        To get passenger info <a href="/adminPassenger">Passenger Info </a>
      </li>
      <li>
        To cancel a train and remove passengers
        <a href="/adminCancel">Cancel Train</a>
      </li>
    </ul>
    <hr />
  </body>
</html>
