<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0">
	<title>View Passengers</title>
</head>

<body>
	<h1>Admin Passengers</h1>
	<div>
        <%- table %>
        <hr>
    <a href="/">Return to Home</a>
    <a href="/viewTrains">Find Trains</a>
    </div>
</body>

</html>